<h1>{{accion}} Producto</h1>
<form action="{{url}}/api/{{_id}}"> {{!-- Este comment no lo ves --}}

	<label for="nombre">Ingrese nombre:</label>
	<input class="form-control" type="text" name="nombre" placeholder="Ej: Jugo de Uva" value="{{nombre}}">
	
	<br>

	<label for="stock">Ingrese Stock:</label>
	<input class="form-control" type="number" name="stock" placeholder="Ej: 9999" value="{{stock}}">

	<br>

	<label for="precio">Ingrese Precio:</label>
	<input class="form-control" type="number" name="precio" placeholder="Ej: 1999.99" value="{{precio}}">

	<br>

	<label for="marca">Elija una marca:</label>
	<select class="form-control" name="marca">
		<option value="apple">Apple</option>
		<option value="samsung">Samsung</option>
		<option value="google">Google</option>
		<option value="lg">LG</option>
	</select>

	<br>

	<label for="detalle">Ingrese un detalle:</label>
	<textarea class="form-control" name="detalle" cols="30" rows="10" placeholder="Max: 100 caracteres">{{detalle}}</textarea>

	<br>

	<label for="imagen">Elija una imagen:</label>
	<input type="file" class="form-control-file" name="imagen">

	<br>

	<input class="btn btn-primary" type="submit" value="Agregar">

</form>
<script>

	//AJAX PARA ENVIAR SOLAMENTE LA IMAGEN
	/*
	document.querySelector('input[type="file"]').onchange = async function(e){
		const img = e.target.files
		const datos = new FormData()
		datos.append("imagen", img[0])

		const request = await fetch("{{url}}/api/{{_id}}", { method : "POST", body : datos })
		const response = await request.json()

		console.log( response )
	}
	*/

	document.querySelector("form").onsubmit = async function(e){
		e.preventDefault()
		
		const datos = new FormData( e.target )

		const configs = {
			method : "{{metodo}}", {{!-- POST o PUT --}}
			body : datos
		}

		const request = await fetch( e.target.action, configs )
		const response = await request.json()
		const message = response.rta ? "ok" : "fail"

		window.location = "{{url}}/admin?msg=" + message
	}
</script>